name: terraform-plan

on:
  pull_request:
    paths:
      - 'live/**'
      - 'modules/**'

jobs:
  plan:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: live/dev
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5
      - name: Configure AWS (read-only creds)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-northeast-1
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME_READONLY }}
          role-session-name: tf-plan
      - name: Terraform Init
        run: terraform init
      - name: Terraform Plan
        run: terraform plan
